# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log